{% extends 'core/base.html' %} {% block main %}
<section>
  <div class="row">
    {% if sliders %}
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        {% for slider in sliders %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} {{"active"}} {% endif %}">
          <img
            src="{{slider.image.url}}"
            class="d-block w-100"
            alt="{{slider.title}}"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>{{slider.title}}</h5>
            <p>{{slider.content}}</p>
          </div>
        </div>

        {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-10 mx-auto">
        <div class="jumbotron shadow border">
          <h1 class="text-center">Welcome to Ecommerce App 🙏🏼</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
        <h2 class="d-block w-100 text-center mb-4">Best Products</h2>
        {% for product in products %}
          <div class="col-md-4">
            <div class="card shadow">
              <img src="{{product.image.url}}" alt="" class="card-img-top">
              <div class="card-body">
                <h3>{{product.name}}</h3>
                <p class="lead">{{product.description|truncatechars:30}}</p>
                <h5>$ {{product.price|floatformat:2}}/- Only</h5>
                <div class="text-center mt-3">
                  <a class="btn btn-block btn-primary" href="">Buy Now</a>
                </div>
              </div>
              
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
