{% extends 'core/base.html' %} {% block main %}
<section>
  <div class="row">
    {% if sliders %}
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        {% for slider in sliders %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} {{"active"}} {% endif %}">
          <img
            src="{{slider.image.url}}"
            class="d-block w-100"
            alt="{{slider.title}}"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>{{slider.title}}</h5>
            <p>{{slider.content}}</p>
          </div>
        </div>

        {% endfor %}
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <div class="jumbotron shadow border">
        <h1 class="text-center">Welcome to Ecommerce App 🙏🏼</h1>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
